[submodule "vendor/zed"]
	path = vendor/zed
	url = https://github.com/philippremy/zed.git
	shallow = true
	branch = dtb-ke-patches
[submodule "vendor/taffy"]
	path = vendor/taffy
	url = https://github.com/philippremy/taffy.git
	branch = dtb-ke-patches
[submodule "vendor/turso"]
	path = vendor/turso
	url = https://github.com/philippremy/turso.git
[submodule "vendor/gpui-kit"]
	path = vendor/gpui-kit
	url = https://github.com/philippremy/gpui-kit.git
	branch = dtb-ke-patches
