  <key>CFBundleIconName</key>
  <string>AppIcon</string>
  <key>CFBundleAlternateNames</key>
  <array>
    <string>DTB KE</string>
    <string>DTB-KE</string>
    <string>Kampfrichtereinsatzpläne</string>
    <string>Kampfrichtereinsatzplaene</string>
  </array>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>DTB Kampfrichtereinsatzplan</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>de.philippremy.DTB-Kampfrichtereinsatzplaene.DTB-Kampfrichtereinsatzplan</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>DocumentIcon</string>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>de.philippremy.DTB-Kampfrichtereinsatzplaene.DTB-Kampfrichtereinsatzplan</string>
      <key>UTTypeDescription</key>
      <string>DTB Kampfrichtereinsatzplan</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>dtbke</string>
        </array>
      </dict>
      <key>UTTypeIconFile</key>
      <string>DocumentIcon</string>
    </dict>
  </array>
